<div class="hopscotch-bubble-container" style="width: <%= step.width %>px; padding: <%= step.padding %>px;">
  <% if(tour.isTour){ %><span class="hopscotch-bubble-number"><%= i18n.stepNum %></span><% } %>
  <div class="hopscotch-bubble-content">
    <% if(step.title !== ''){ %><h3 class="hopscotch-title"><%= step.title %></h3><% } %>
    <% if(step.content  !== ''){ %><div class="hopscotch-content"><%= step.content %></div><% } %>
  </div>
  <div class="hopscotch-actions">
    <% if(buttons.showPrev){ %><button class="button button-success prev hopscotch-prev"><%= i18n.prevBtn %></button><% } %>
    <% if(buttons.showCTA){ %><button class="button button-success next hopscotch-cta"><%= buttons.ctaLabel %></button><% } %>
    <% if(buttons.showNext){ %><button class="button button-success next hopscotch-next"><%= i18n.nextBtn %></button><% } %>
  </div>
  <% if(buttons.showClose){ %><button class="button button-close hopscotch-bubble-close hopscotch-close"></button><% } %>
</div>
<div class="hopscotch-bubble-arrow-container hopscotch-arrow">
  <div class="hopscotch-bubble-arrow-border"></div>
  <div class="hopscotch-bubble-arrow"></div>
</div>
