<div class="first-time-dialog">
  <p>Welcome to IoTIFY</p>
  <p>Would you like to take a quick tour of your workspace?<p>

  <div class="">
    <button class="button button-success do-confirm">Yes, please</button>
    <button class="button button-success do-cancel pull-right">No, thanks</button>
  </div>
</div>
