.component-first-time {
  position: relative;
  width: 100%;
  .first-time-dialog {
    padding: 10px 20px 10px 20px;
  }
}





.hopscotch-bubble {
  @bubbleColor: #22262e;
  @bubbleCornerRadius: 10px;
  @bubbleBorderWidth: 5px;
  @bubblePadding: 15px;
  @bubbleZindex: 1002;
  @borderColor: rgba(0, 0, 0, 0.5);
  @anim-timing: ease-in-out;
  @anim-duration: .5s;

  z-index: @bubbleZindex;
  background-color: @bubbleColor;
  border: @bubbleBorderWidth solid #000; /* default */
  border: @bubbleBorderWidth solid @borderColor; /* transparent, if supported */
  top: -10px;
  .box-sizing(content-box);

  &.animate {
    -moz-transition-property: top, left;
    -moz-transition-duration: @anim-duration;
    -moz-transition-timing-function: @anim-timing;

    -ms-transition-property: top, left;
    -ms-transition-duration: @anim-duration;
    -ms-transition-timing-function: @anim-timing;

    -o-transition-property: top, left;
    -o-transition-duration: @anim-duration;
    -o-transition-timing-function: @anim-timing;

    -webkit-transition-property: top, left;
    -webkit-transition-duration: @anim-duration;
    -webkit-transition-timing-function: @anim-timing;

    transition-property: top, left;
    transition-duration: @anim-duration;
    transition-timing-function: @anim-timing;
  }

  &.invisible {
    opacity: 0;
  }

  &.hide,
  .hide,
  .hide-all {
    display: none;
  }

  h3 {
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
    margin: -1px @bubblePadding 0 0;
    padding: 0;
  }

  .hopscotch-bubble-container {
    padding: @bubblePadding;
    position: relative;
    text-align: left;
    -webkit-font-smoothing: antialiased; /* to fix text flickering */
  }

  .hopscotch-content {
    font-weight: normal;
    line-height: 17px;
    margin: -5px 0 11px;
    padding-top: 8px;
  }



  .hopscotch-bubble-number {
    display: none;
  }

  .hopscotch-content {
    padding-bottom: 21px;
  }

  .hopscotch-bubble-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 22px;
    height: 22px;
    padding: 0px;
    margin: 0px;
    border: 0px;
  }
  .hopscotch-bubble-close:after {
    display: inline-block;
    content: "\00d7";
    width: 22px;
    height: 22px;
  }

  .hopscotch-bubble-arrow-container {
    @arrowWidth: 17px;
    position: absolute;

    width: @arrowWidth*2;
    height: @arrowWidth*2;

    .hopscotch-bubble-arrow,
    .hopscotch-bubble-arrow-border {
      width: 0;
      height: 0;
    }

    &.up {
      top: 0 - @arrowWidth - @bubbleBorderWidth;
      left: @bubbleCornerRadius;

      .hopscotch-bubble-arrow {
        border-bottom: @arrowWidth solid @bubbleColor;
        border-left: @arrowWidth solid transparent;
        border-right: @arrowWidth solid transparent;
        position: relative;
        top: 0 - @arrowWidth + @bubbleBorderWidth + 2;
      }
      .hopscotch-bubble-arrow-border {
        border-bottom: @arrowWidth solid #000;
        border-bottom: @arrowWidth solid @borderColor;
        border-left: @arrowWidth solid transparent;
        border-right: @arrowWidth solid transparent;
      }
    }
    &.down {
      bottom: 0 - @arrowWidth*2 - @bubbleBorderWidth;
      left: @bubbleCornerRadius;

      .hopscotch-bubble-arrow {
        border-top:   @arrowWidth solid @bubbleColor;
        border-left:  @arrowWidth solid transparent;
        border-right: @arrowWidth solid transparent;
        position:     relative;
        top:          0 - @arrowWidth - @bubbleBorderWidth - 2;
      }
      .hopscotch-bubble-arrow-border {
        border-top:   @arrowWidth solid #000;
        border-top:   @arrowWidth solid @borderColor;
        border-left:  @arrowWidth solid transparent;
        border-right: @arrowWidth solid transparent;
      }
    }
    &.left {
      top: @bubbleCornerRadius;
      left: 0 - @arrowWidth - @bubbleBorderWidth;

      .hopscotch-bubble-arrow {
        border-bottom: @arrowWidth solid transparent;
        border-right:  @arrowWidth solid @bubbleColor;
        border-top:    @arrowWidth solid transparent;
        position: relative;
        left: @bubbleBorderWidth + 2;
        top: 0 - (2*@arrowWidth);
      }
      .hopscotch-bubble-arrow-border {
        border-right:  @arrowWidth solid #000;
        border-right:  @arrowWidth solid @borderColor;
        border-bottom: @arrowWidth solid transparent;
        border-top:    @arrowWidth solid transparent;
      }
    }
    &.right {
      top: @bubbleCornerRadius;
      right: 0 - @arrowWidth*2 - @bubbleBorderWidth;

      .hopscotch-bubble-arrow {
        border-bottom: @arrowWidth solid transparent;
        border-left:   @arrowWidth solid @bubbleColor;
        border-top:    @arrowWidth solid transparent;
        position: relative;
        left: 0 - @bubbleBorderWidth - 2;
        top: 0 - (2*@arrowWidth);
      }
      .hopscotch-bubble-arrow-border {
        border-left:   @arrowWidth solid #000;
        border-left:   @arrowWidth solid @borderColor;
        border-bottom: @arrowWidth solid transparent;
        border-top:    @arrowWidth solid transparent;
      }
    }
  }


}
